/* Write your CSS here */
.pagenotfound {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bree serif;
  color: white;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  height: 100%;
}
@media (width<=768px) {
  .pagenotfound {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
}
